*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 197, 197);
}

.main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container{
    background-color: rgba(46, 46, 46, 0.87);
    width: 250px;
    height: 380px;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 230px;
    height: 50px;
    background-color: rgb(83, 83, 83);
    margin:  10px 10px;
}

.history{
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: wheat;
    height: 40%;
    width: 100%;
}

.input{
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
    width: 100%;
}

.all-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 300px;
    gap: 0.5rem;
    padding: 10px;
}



.equals{
    grid-column: 3/5;
}
